[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
	branch = kirkstone
[submodule "meta-tegra"]
	path = meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = kirkstone
